*{
 box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url('imgs/bg-main-mobile.png');
    background-position: top -15rem right -15rem;
    background-repeat: no-repeat;
   
}

#container{
  display: grid;
  grid-template-areas: 'first'
                        'second'
                            'third';
                            /* grid-template-columns: 60% 40%; */
                            gap: 4rem;
                           
                        
                     
                       
                            min-height: 100vh;
                        grid-template-rows: 580px 910px 270px;
                         
                     
                        

                          
                 
}

#first{
grid-area: 'first';



}

.first-content{
  display: flex;
flex-direction: row;
}

.logo{
  width: 9rem;
}

.words{
    flex-direction: column;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.8rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.words p{
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
}
.color-top{
  display: none;
}

#second{
grid-area: 'second';

}

.second-content{
  background-color: #191B26;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  position: relative;
}

.phone{
  width: 15rem;
  position: absolute;
  top: -9rem;
}

.orange{
  width: 100%;
  background-color: #FA7453;
  border-radius: 1rem;
  position:absolute;
  bottom: -28rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

}

.orange h2{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.orange p{
  color: #fff;
  line-height: 1.5rem;
}
.monthly{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: center;

}

.dollar{
  font-size: 4rem;
  font-weight: bold;
  margin-right: 0.7rem;
}

.buttons{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
 align-items: center;
 
}

.button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1rem;
text-decoration: none;
border-radius: 1rem;
width: 95%;
font-weight: bold;
}

.apple_logo{
  width: 0.9rem;
  margin-right: 0.5rem;
}


.apple{
background-color: black;
color: #fff;

}

.apple:hover{
background-color: #66E2DC;
}

.android{
background-color: white;
color: black;
margin-top: 1rem;
}

.android:hover{
  background-color: #FFB964;
}

.android_logo{
  margin-right: 0.5rem;
}

#third{
grid-area: 'third';
}

.third-content{
  padding-left: 1.4rem;
}

.logo_words{
  display: flex;
  flex-direction: column;
}

.bottom_words{
  width: 327px;
  margin-top: 2rem;
  padding-right: 2rem;
  line-height: 1.5rem;
}

.bold{
  font-weight: bold;
}

.socials{
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  margin-top: 3rem;
}

.social:hover{
   filter: invert(70%) sepia(26%) saturate(6881%) hue-rotate(324deg) brightness(98%) contrast(100%);;
}



@media screen and (min-width:768px){
  body{
    background-image: url('imgs/bg-main-tablet.png');
    background-position: top -25rem right -20rem;
    background-size: cover;
    overflow-x: hidden;

   
   

  }

  #container{
   width: 100%;
   overflow-x: hidden;
   grid-template-rows: 620px 634px 200px;
  }

  

  h1{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    margin-top: 6rem;
  
}

.logo{
  margin-top: 2rem;
}

.words p{
  font-size: 1rem;
 
}



#first{
  display: flex;
 justify-content: center;
 
}

.first-content{
  position: relative;
  max-width: 778px;
  
 

}

.color-top{
  display: block;
position: absolute;
  top: -2rem;
  right: -2rem;

}

.top-color{
  width: 17rem;
 
}

  .words{
 
  padding-left: 3rem;
    width: 65%;
    padding-right: 0rem;
}


#second{
 display: flex;
 justify-content: center;
  }

  .second-content{
    max-width: 700px;
    border-radius: 1rem;
    max-height: 600px;

  }

  .orange{
    width: 399px;
bottom: 0rem;
top: 9rem;
left: 14rem;
height: 490px;
  
  }

  .phone{
    width: 270.21px;
    left: 3rem;
  }

  #third{
    display: flex;
    justify-content: center;
  }

  .third-content{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 740px;
  }

  .socials{
    margin-right: 2rem;
  }


  .bottom_words{
    width: 396px;
    
  }

  .social{
    height: 1rem;
  }

 
   






}

@media  screen and (min-width:1440px) {
  body{
    background-image: url('imgs/bg-main-desktop.png');
    background-position: top -15rem left -4rem;
  }

  #container{
    width: 100%;
    overflow-x: hidden;
    grid-template-rows: 550px 600px 300px;
   }

  .first-content{
    position: relative;
    max-width: 1300px;
    padding-left: 4rem;
  
  }

  h1{
    font-size: 5rem;
    font-weight: bold;
    line-height: 5rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
  
}

.top-color{
  width: 17rem;
 
}

.words{
 
 
  width: 75%;
}

.words p{
  width: 87%;
  line-height: 2rem;
  font-size: 1.1rem;
}

.second-content{
  max-width: 1100px;
}


}