*{
 box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url('imgs/bg-main-mobile.png');
    background-position: top -15rem right -15rem;
    background-repeat: no-repeat;
   
}

#container{
  display: grid;
  grid-template-areas: 'first'
                        'second'
                            'third';
                            /* grid-template-columns: 60% 40%; */
                            gap: 4rem;
                           
                        
                     
                       
                            min-height: 100vh;
                           grid-auto-rows: 1fr;
                 
}

#first{
grid-area: 'first';



}

.first-content{
  display: flex;
flex-direction: row;
}

.logo{
  width: 9rem;
}

.words{
    flex-direction: column;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.8rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.words p{
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
}
.color-top{
  display: none;
}

#second{
grid-area: 'second';

}

.second-content{
  background-color: #191B26;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  position: relative;
}

.orange{
  width: 100%;
  background-color: #FA7453;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position:absolute;
  bottom: -2rem;
}

#third{
grid-area: 'third';
}



@media screen and (min-width:768px){
  body{
    background-image: url('imgs/bg-main-tablet.png');
    background-position: top -25rem right -20rem;
    background-size: cover;
    overflow-x: hidden;
   

  }

  h1{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.5rem;
  
}

.logo{
  margin-top: 2rem;
}

.words p{
  font-size: 1.1rem;
 
}

.color-top{
  display: block;
  position: absolute;
  top: -2rem;
  right: -2rem;
}

#first{
  display: flex;
 justify-content: center;
}

.first-content{
  position: relative;
  max-width: 778px;

}

.top-color{
  width: 14rem;
 
}

  .words{
 
  padding-left: 2rem;
    width: 72%;
}


#second{
 display: flex;
 justify-content: center;
  }

  .second-content{
    max-width: 760px;
  }
}

@media  screen and (min-width:1440px) {
  body{
    background-image: url('imgs/bg-main-desktop.png');
    background-position: top -15rem left -4rem;
  }

  .first-content{
    position: relative;
    max-width: 1300px;
  
  }

  h1{
    font-size: 5rem;
    font-weight: bold;
    line-height: 5rem;
    margin-top: 7rem;
  
}

.top-color{
  width: 17rem;
 
}

.words{
 
 
  width: 70%;
}

.words p{
  width: 90.1%;
  line-height: 2rem;
}


}